.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 800px;
    align-items: center;
    justify-content: center;
    border: 5px solid lightgray;
    background-color: lightsteelblue;
    }
    div .container{ 
        width: 200px;
        padding: 5px;
        margin: 10px;
        align-items: center;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
    }
    #titlee{
        text-align: center;
        font-family: 'Times New Roman'; 
        background-color: lavender;
        color: rebeccapurple;
    }
    .container:hover{border: 2px solid black;
        .container div{margin-left: 150px;}
    }
    div #fname{font-weight: bold;}
   